@charset "UTF-8";
@import url("/media/css/pygments.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300");
@font-face {
  font-family: 'YaHei Consolas Hybrid';
  src: url("/media/fonts/yaheiconsolashybrid.ttf"); }
@font-face {
  font-family: 'Consolas with Yahei Nerd';
  src: url("/media/fonts/Consolas-with-Yahei-Nerd-Font.ttf"); }
@font-face {
  font-family: 'Microsoft Yahei Mono';
  src: url("/media/fonts/Microsoft-YaHei-Mono.ttf"); }
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: Georgia, Helvetica, Tahoma, Arial, Noto Serif CJK SC, Noto Serif CJK, Source Han Serif SC, source-han-serif-sc, PingFang SC, ten-mincho, Source Han Serif, SimSun, 宋体, Consolas, Georgia, Helvetica, Tahoma, Arial, Noto Sans CJK SC, Noto Sans CJK, Source Han Sans, Source Han Sans SC, source-han-sans-sc, PingFang SC, STXihei, 华文细黑, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, 文泉驿微米黑, Heiti, 黑体, serif;
  color: #000000;
  background: #f2f2f2 url("https://yenwtime-1255970624.cos.ap-guangzhou.myqcloud.com/JPG/skulls.jpg");
  -webkit-font-smoothing: antialiased; }

time {
  font-family: Ubuntu, Consolas, Georgia, Helvetica, Tahoma, Arial, Noto Sans CJK SC, Noto Sans CJK, Source Han Sans, Source Han Sans SC, source-han-sans-sc, PingFang SC, STXihei, 华文细黑, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, 文泉驿微米黑, Heiti, 黑体, monospace; }

header {
  margin: 0 auto;
  text-align: justify;
  margin: 3em auto; }
  @media screen and (min-width: 320px) {
    header {
      width: 315px; } }
  @media screen and (min-width: 375px) {
    header {
      width: 370px; } }
  @media screen and (min-width: 414px) {
    header {
      width: 410px; } }
  @media screen and (min-width: 800px) {
    header {
      width: 780px; } }
  header:after {
    content: '';
    width: 100%;
    display: inline-block; }
  header #header {
    display: inline-block;
    position: relative;
    top: 1em; }
    header #header h1 {
      font-family: Consolas, Georgia, Helvetica, Tahoma, Arial, Noto Sans CJK SC, Noto Sans CJK, Source Han Sans, Source Han Sans SC, source-han-sans-sc, PingFang SC, STXihei, 华文细黑, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, 文泉驿微米黑, Heiti, 黑体; }
      header #header h1 a {
        text-decoration: none;
        color: #a9a9a9;
        display: block; }
        header #header h1 a:hover {
          color: #2bb6c9; }
  header nav {
    display: inline-block;
    position: relative;
    top: 1em; }
    header nav span {
      margin: .5em; }
    header nav a, header nav article .title a, article .title header nav a {
      font-family: Consolas, Georgia, Helvetica, Tahoma, Arial, Noto Sans CJK SC, Noto Sans CJK, Source Han Sans, Source Han Sans SC, source-han-sans-sc, PingFang SC, STXihei, 华文细黑, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, 文泉驿微米黑, Heiti, 黑体, sans-serif;
      color: #ccc; }

#content {
  margin: 0 auto; }
  @media screen and (min-width: 320px) {
    #content {
      width: 315px; } }
  @media screen and (min-width: 375px) {
    #content {
      width: 370px; } }
  @media screen and (min-width: 414px) {
    #content {
      width: 410px; } }
  @media screen and (min-width: 800px) {
    #content {
      width: 780px; } }

article {
  margin: 2em 0; }
  article p {
    padding: .7em 0; }
  article .title {
    font-family: Georgia, Helvetica, Tahoma, Arial, Noto Serif CJK SC, Noto Serif CJK, Source Han Serif SC, source-han-serif-sc, PingFang SC, ten-mincho, Source Han Serif, SimSun, 宋体;
    font-weight: 700; }
    article .title a {
      color: #777; }
  article .post a {
    color: #000000;
    border-bottom: 2px solid #2bb6c9; }
    article .post a:hover {
      color: #2bb6c9; }
  article .post img {
    max-width: 100%;
    display: block;
    margin: .5em auto; }

/*# sourceMappingURL=search.css.map */
