---
layout: default
---

<!-- POST PAGES -->
<!-- ORGANIZE THE BASIC HTML FOR YOUR POST -->
<!-- YOUR CAN CREATE YOUR OWN CSS IN /media/css/style.scss -->

<article>
  <section class="title">
    <h2>{{ page.title }}</h2>
  </section>
  <section class="meta">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.author %} <span style="color:#2bb6c9"> {{ page.author }} </span>
  {% else %} <span style="color:#2bb6c9"> 原创 </span>
  {% endif %}
  {% if page.tags %}
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tags#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
  <span id="busuanzi_container_page_pv">
    阅读 |  <span id="busuanzi_value_page_pv" style="font-weight: bold"></span>
  </span>
  </section>
  <section class="post">
  {{ content }}
  </section>
  <div class="divider">
    <span>
    {% if page.previous %}
    <a href="{{ page.previous.url }}" target="_self"><i class="fa fa-angle-double-left"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
    <span>
    {% if page.next %}
    <a href="{{ page.next.url }}" target="_self"><i class="fa fa-angle-double-right"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
  </div>
</article>
